<a href="https://colab.research.google.com/github/SavhBwbd/Saurav_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Exercise  1: Find and print the student with the lowest grade.

In [5]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

lowest_student = None
lowest_grade = 100  # start with a big number

for name, grade in grades.items():
    if grade < lowest_grade:
        lowest_grade = grade
        lowest_student = name

print(lowest_student, lowest_grade)

Omid 16

In [ ]:
Exercise 2: print names of students who registered for any course containing "Data"

In [6]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:

for name, subjects in courses.items():
    for subject in subjects:
        if "Data" in subject:
            print(name)
            break   # stop checking more courses for this student

Sara
Reza

In [ ]:
Exercise 3: Print titles of books that are not available.

In [7]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:

for title, info in library.items():
    if not info['available']:
        print(title)

AI Basics
Math Advanced

In [ ]:
Exercise 4: Print names of students who are registered for more than 2 courses.

In [9]:
registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:

for name, courses in registrations.items():
    if len(courses) > 2:
        print(name)

Sara
Lina

In [ ]:
Exercise 5: Calculate and print the average grade of the class.

In [10]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

total = 0
count = 0

for grade in grades.values():
    total += grade
    count += 1

average = total / count
print("Average grade:", average)

Average grade: 18.1

In [ ]:
Exercise 6: Count and print the number of students registered for "Python".

In [11]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

count = 0

for subjects in courses.values():
    if "Python" in subjects:
        count += 1

print("Number of students registered for Python:", count)

Number of students registered for Python: 3

In [ ]:
Exercise 7: Print titles of books with more than 200 pages.

In [12]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}

# Write your code here:

for title, pages in book_pages.items():
    if pages > 200:
        print(title)

AI Basics
Math Advanced
Data Science

In [ ]:
Exercise 8: Print each student's name and number of registered courses.

In [13]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

for name, subjects in courses.items():
    print(name, "registered for", len(subjects), "courses")

Ali registered for 2 courses
Sara registered for 2 courses
Reza registered for 2 courses
Lina registered for 2 courses
Omid registered for 1 courses