<a href="https://colab.research.google.com/github/SavhBwbd/Saurav_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Create a list with 3 fruits (for example: apple, banana, orange).

fruits=["kiwi","banana","avocado"]
print("Fruits list:", fruits)
print("Each of them separately:")
for fruit in fruits:
  print(fruit)

Fruits list: ['kiwi', 'banana', 'avocado']
Each of them separately:
kiwi
banana
avocado

In [5]:
#Create a list with 4 names.
#• Change the first name to a different one.
#• Print the new list.

names=["Savh","Jilo","Ali","Mohammad"]
names[0]="Nishan"
print("New names list: ", names)

New names list:  ['Nishan', 'Jilo', 'Ali', 'Mohammad']

In [6]:
#Create a list with 5 vehicles (for example: car, bus, bike).
#• Add one more vehicle to the end of the list.
#• Print the list.

vehicles=["car","van","bus","bike","train"]
vehicles.append("scooter")
print("Vehicles list: ",vehicles)

Vehicles list:  ['car', 'van', 'bus', 'bike', 'train', 'scooter']

In [7]:
#Create a list with 6 foods.
#• Remove one food from the list.
#• Print the new list.

foods=["momo","pizza","steak","salad","sandwich","pasta"]
foods.remove("pizza")
print("Foods list after removing: ", foods)

Foods list after removing:  ['momo', 'steak', 'salad', 'sandwich', 'pasta']

In [9]:
#Create a list with 4 cities.
#• Sort the list in alphabetical order.
#• Reverse the list.

cities=["Paris","Rome","London","Tokyo"]
cities.sort()
print("Sorted Cities: ",cities)
cities.reverse()
print("Reversed cities: ", cities)

Sorted Cities:  ['London', 'Paris', 'Rome', 'Tokyo']
Reversed cities:  ['Tokyo', 'Rome', 'Paris', 'London']

In [10]:
#• Create a list with 3 animals.
#• Use a for loop to print each animal.

animals=["koala","jaguar","dog"]
for animal in animals:
  print(animal)

koala
jaguar
dog

In [12]:
#• Create a list with numbers from 1 to 5.
#• Use a for loop to print each number multiplied by 2.

numbers=[2,4,5,1,6,8]
print("Numbers multiplied by 2:")
for num in numbers:
  print(num*2)

Numbers multiplied by 2:
4
8
10
2
12
16

In [14]:
#Create a list with 6 friends.
#• Print the first three friends.
#• Print the last three friends.

friends=["Savh","Ali","Jilo","Mohammad","Nishan","Jose"]
print("First three friends: ", friends[0:3])
print("Last three friends: ", friends[3:])

First three friends:  ['Savh', 'Ali', 'Jilo']
Last three friends:  ['Mohammad', 'Nishan', 'Jose']

In [15]:
#Use range() to create a list with numbers from 1 to 10.
#• Print the list.

num_list=list(range(1,11))
print("Numbers list: ",num_list)

Numbers list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#• Use list comprehension to create a list with the squares of numbers from 1 to 5.
#• Print the list.

squares=[x**2 for x in range(1,6)]
print("Squares of numbers: ",squares)

Squares of numbers:  [1, 4, 9, 16, 25]